body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.7s ease;
}

#change-bg-btn {
    position: fixed;
    margin-top: 3.2rem;
    top: 20px;
    right: 20px;
    background-image: linear-gradient(to right, #000109 0%, #0171d2  51%, #000428  100%);
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 2px 2px 10px #eee;
    border-radius: 10px;
    display: block;
}
#change-bg-btn:hover {
    background-position: right center;
    color: #ffffff;
    text-decoration: none;
}

.logo-container {
    margin-left: 3.5rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-shadow: 2px -1px 8px rgb(0, 0, 0);
}

.text-container {
    margin-right: 3.5rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-shadow: 2px -1px 8px rgb(0, 0, 0);
}

h2 {
    margin: 0; padding: 0;
    position:absolute;
    top: 5rem; left: 50%;
    transform:translate(-50%,-50%);
    font-size: 2em; color:transparent;
    text-shadow: 2px -1px 8px rgb(0, 0, 0);
    text-transform:uppercase;
}
h2 span:nth-child(1){
    position:absolute;
    top:0; left:0; color: #ffffff;
    transition:0.5s;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    overflow:hidden;
}
h2:hover span:nth-child(1){
    transform:translateY(-18px); 
}
h2 span:nth-child(2){
    position:absolute;
    top:0; left:0; color: #ffffff;
    transition:0.5s;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    overflow:hidden;
}
h2:hover span:nth-child(2){
    transform:translateY(18px); 
}
h2 span:nth-child(3){
    position:absolute;
    top:50%; left: 0;
    transform:translateY(-50%) scaleY(0);
    width: 91%; color: #000;
    background:#ff0;
    font-size: 0.4em; font-weight: 500;
    letter-spacing:0.7em;
    text-align:center;
    padding-left: 20px; margin-left: 5px;
    transition:0.5s;
}
h2:hover span:nth-child(3){
    transform:translateY(-50%) scaleY(1);
}


/* AGREGANDO EL RELOJ */


.clock-container {
    justify-content: center;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.digital-clock {
    font-size: 2em;
    font-weight: bold;
    /*text-align: center;*/
}

#time {
    font-size: 1em; /* This will be the main time font size */
}

#seconds {
    font-size: 0.6em; /* Smaller font size for seconds */
    vertical-align: super; /* Adjust vertical alignment for smaller seconds */
    margin-left: 5px; /* Space between minutes and seconds */
}

#ampm {
    font-size: 0.6em;
    margin-left: 0;
}
